body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #fef7ff;
}
.topnav {
  background: #ed4988;
  color: white;
  padding: 15px;
}
.logo-section {
  display: flex;
  align-items: center;
}
.logo-section img {
  width: 300px;
  margin-right: 15px;
}
.menu-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  padding: 2px;
}
.menu-links li a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 6px;
  background: rgba(255,255,255,0.1);
}
.sidebar {
  position: fixed;
  top: 187  px;
  left: 0;
  width: 200px;
  background: #e5e5e5;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.sidebar button {
  background: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
main {
  margin-left: 220px;
  padding: 20px;
}
.content-section {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
