:root {
  --color-primary: #ed4988;
  --color-secondary: #f1592b;
  --bg-color: #fef7ff;
  --text-color: #333;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: fadeIn 1s ease-in-out;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 420px;
  padding: 30px;
  background: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  text-align: center;
}

.logo {
  width: 180px;
  margin-bottom: 15px;
  animation: pop 0.5s ease-in-out;
}

.login-box h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--color-primary);
}

.login-box p {
  font-size: 14px;
  color: #888;
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background: var(--color-secondary);
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #e24a1e;
}

#error-msg {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

 .visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
clip: rect(0, 0, 0, 0);
border: 0;
}

@media screen and (max-width: 480px) {
  .login-container {
    padding: 20px;
    width: 95%;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes pop {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
